{% extends 'education_base.html' %}

{% block education_content %}
<h2>Infographics</h2>
<p>Explore visual infographics that explain the advantages of using generic medicines.</p>

<div class="row">
    <div class="col-md-6">
        <img src="https://via.placeholder.com/300" class="img-fluid" alt="Generic vs. Branded Medicines">
        <p>Generic vs. Branded Medicines</p>
    </div>
    <div class="col-md-6">
        <img src="https://via.placeholder.com/300" class="img-fluid" alt="Cost Comparison">
        <p>Cost Comparison of Generic & Branded Drugs</p>
    </div>
</div>
{% endblock %}