{% extends 'education_base.html' %}

{% block education_content %}
<h2>Educational Videos</h2>
<p>Watch videos explaining how generic medicines work and why they are important.</p>

<div class="ratio ratio-16x9">
    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Generic Medicines Explained" allowfullscreen></iframe>
</div>

<div class="ratio ratio-16x9 mt-3">
    <iframe src="https://www.youtube.com/embed/example_video_2" title="Are Generic Medicines Safe?" allowfullscreen></iframe>
</div>
{% endblock %}