{% extends 'education_base.html' %}

{% block education_content %}
<h2>Educational Articles</h2>
<p>Learn about the benefits of generic medicines, how they work, and why they are a cost-effective alternative to branded drugs.</p>

<ul class="list-group">
    <li class="list-group-item"><a href="#">Understanding Generic Medicines</a></li>
    <li class="list-group-item"><a href="#">How Generic Medicines are Approved?</a></li>
    <li class="list-group-item"><a href="#">Common Myths About Generic Drugs</a></li>
</ul>
{% endblock %}